<md-sidenav-container >
        <md-sidenav mode="side"  align="end" #sidenav >
            <md-tab-group>
              <md-tab>
                <template md-tab-label>Details</template>
                <product-details [product]="currentProduct" 
                (close)="sidenav.close()" (addToCart)="addToCart(currentProduct)">
                </product-details>
              </md-tab>
              <md-tab>
                <template md-tab-label>Edit</template>
                <product-details-edit [product]="currentProduct" [products]="products" (close)="sidenav.close()">
                </product-details-edit>
              </md-tab>
            </md-tab-group>
          </md-sidenav>
<!-- perfect-scrollbar replace dufault browser scrollbar with this custom -->
<perfect-scrollbar id="products-container" [config]="config">
  <md-grid-list cols="4" rowHeight="200px" gutterSize="5px">
    <md-grid-tile 
            *ngFor="let product of products"
            [ngClass]="{'fade': fade && product.id == currentProduct.id}"
            [style.padding] = "0"
            [colspan]="1"
            [rowspan]="1">
        <img src="{{product.image}}" 
            onError="this.src='../../assets/image_template.png'"
            class="product-image">
        <md-grid-tile-footer>
          <h3 md-line>{{product.name | capitalize}}</h3>
          <span md-line>Price: {{product.price | dollars}}</span>
          <button md-icon-button (click)="productDetails(product)">
              <md-icon mdTooltip="Get more info">info</md-icon>
          </button>
          <button md-icon-button (click)="addToCart(product)">
                <md-icon mdTooltip="Add to shopping cart">add_shopping_cart</md-icon>
            </button>
        </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
</perfect-scrollbar>
</md-sidenav-container>