<md-card style="border: solid;">
    <p>
        sadfkjhasldkfjhsdl
    </p>
    
    <md-card-header> 
            <md-card-title>{{productItem.name}}</md-card-title>
    </md-card-header>
    <div md-card-image style="border: solid;color:red;height:250px; width:260px; overflow: hidden;">
        <img  src="{{productItem.image}}"  style="max-width: 100%;">
    </div>
    <md-card-content>
        <p>
                {{productItem.description}}
        </p>
        
        {{productItem.price}}
    </md-card-content>
    <md-card-actions>
            <button md-button>Add to card</button>
            <button md-button color="accent">Edit</button>
    </md-card-actions>
</md-card>
