  <md-card>
    <form [formGroup]="rForm" (ngSubmit)="onSubmit()">
        <md-form-field>
            <input [ngModel]="product.name" mdInput formControlName="name" placeholder="Product name">
       </md-form-field>
        <md-form-field>
            <input [ngModel]="product.description" mdInput formControlName="description" placeholder="description">
        </md-form-field>
        <md-form-field>
            <span mdPrefix>$&nbsp;</span>
            <input type="number" [ngModel]="product.price" mdInput formControlName="price" placeholder="Price">
        </md-form-field>
        <md-form-field>
            <input [ngModel]="product.image" mdInput formControlName="image" placeholder="Image">
        </md-form-field>
        <md-card-actions>
          <button md-raised-button color="primary">Submit</button>
          <button type="button" md-raised-button color="primary" (click)="closeNav()">Cancle</button>
        </md-card-actions>
      </form>
      <div *ngIf="rForm.controls['name'].hasError('required') && rForm.controls['name'].touched" class="alert-message">The product name is required</div>
      <div *ngIf="rForm.controls['price'].hasError('required') && rForm.controls['price'].touched" class="alert-message">The price is required</div>
      <div *ngIf="rForm.controls['price'].hasError('negative') && rForm.controls['price'].touched 
      && !rForm.controls['price'].hasError('required')" class="alert-message">The price must be positive</div>
  </md-card> 


  